html{
	background-color:skyblue;
	color:white;
	font-family:courier;
	font-size: 120%
}
body{
	align:center;
	position:absolute;
	top:10%;
	left:10%;
}
#pogi{
	height:320px;
	width: 200px;
	border-radius:30px;
	display:block;
	margin-left:40%;

	}
.interests{
	background-color:powderblue;
	border-style:groove;
	border-color: powderblue;
	border-radius:20px;
	padding: 10px;
	margin:10px;
	}
.info{
	background-color:powderblue;
	border-style:groove;
	border-color: powderblue;
	border-radius:20px;
	padding: 10px;
	margin:10px;
}
.expectations{
	background-color:powderblue;
	border-style:groove;
	border-color: powderblue;
	border-radius:10px;
	padding: 10px;
	margin:10px;
}

